
header {
    height: 69px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;   
    text-align: center;
}

header a {
    margin-left: 20px;
}

header nav {
    padding: 30px;
}
header nav a {
    padding: 30px;
}

