#projects-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
   
}

.project {
    margin-left: 20px;
    margin-right: 20px;
    border: solid;
    margin-top: 0px;
    margin-bottom: 0px;
}

.project img {
    width: 100%;
    
  
}
.project h3 {
    background-color: #2d5c88;
    padding: 20px;
    color: white;
}

@media(max-width:768px){
    #projects-container {
        flex-wrap: wrap;
    }
    .project {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}